# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Sphinx documentation
docs/_build/
mechanik/mechanik/__pycache__/
env_ubuntu/

env_ubuntu/
backend/mechanik/static/*
backend/env_ubuntu/*
frontend/*
!frontend/lib/

