# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Sphinx documentation
docs/_build/
mechanik/mechanik/__pycache__/
env_ubuntu/

env_ubuntu/
backend/env_ubuntu/*
frontend/*
!frontend/lib/
backend/mechanik/db.sqlite3

test.py
backend/mechanik/static/
backend/mechanik/kalendarz/migrations/
.Trash-1000/

