{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Strona
    </title>
   <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  
</head>
  <header>
    <nav class="navbar navbar-expand-md bg-light">
        <div class="container-fluid">
            <a class="navbar-brand text-center" href="#">LOGO</a>
            
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Wyszukiwarka" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Szukaj</button>
            </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item text-end">
                  <a class="nav-link" aria-current="page" href="#">Informacje</a>
                </li>
                <li class="nav-item text-end">
                  <a class="nav-link" href="#">Kalendarz</a>
                </li>
                <li class="nav-item text-end">
                  <a class="nav-link" href="#">Sklep</a>
                </li>
                <li class="nav-item text-end">
                  <a class="nav-link" href="#">Profil</a>
                </li>
            
              </ul>
            </div>
           
        </div>
      </nav>
  </header>

<main class="container-fluid">
  <div class="row">

    <div class="col-md-2 col-xl-1  bg-opacity-10">
      
    </div>

    <div class="col-md-8 col-xl-10">
        <div class="row g-4 py-4">

            <!--Tu będzie zabawa Karola-->
            <div class="col-sm-12 col-md-6 col-lg-4 col-xxl-4">
              <div class="card h-100 text-bg-light">
                <div class="row g-0">
                  <div class="col-md-12 col-xxl-7">
                    <img src="{% static 'imgs/calendar.jpg' %}" class="img-fluid rounded-start" alt="Kalendarz">
                  </div>
                  <div class="col-md-12 col-xxl-5">
                    <div class="card-body">
                      <h5 class="card-title">Obsługa wizyt</h5>
                      <p class="card-text">Od teraz strona obsługuje możliwośc rezerwacji wizyt!
                        Chcesz poznać więcej informacji?
                        <a href="/information.html">Kliknij</a>
                      </p>
                      
                      <p class="card-text"><small class="text-muted">Dodano 07.06.2022 12:52</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xxl-4">
              <div class="card h-100 text-bg-light">
                <div class="row g-0">
                  <div class="col-md-12 col-xxl-7">
                    <img src="{% static '/imgs/tools.jpg' %}" class="img-fluid my-auto rounded-start" alt="Narzędzia">
                  </div>
                  <div class="col-md-12 col-xxl-5">
                    <div class="card-body">
                      <h5 class="card-title">Wprowadzamy sklep</h5>
                      <p class="card-text">Witryna operuje teraz możliwością przeglądnięcia dostępnych produktów i zamówienia ich.
                        <a href="/sklep.html">Przejdź</a>
                      </p>
                      <p class="card-text"><small class="text-muted">Dodano 07.06.2022 12:59</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xxl-4">
              <div class="card h-100 text-bg-light">
                <div class="row g-0">
                  <div class="col-md-12 col-xxl-7">
                    <img src="{% static '/imgs/map1.jpg' %}" class="img-fluid rounded-start" alt="Mapa">
                  </div>
                  <div class="col-md-12 col-xxl-5">
                    <div class="card-body">
                      <h5 class="card-title">Informacje</h5>
                      <p class="card-text my-0">Poznaj dokładną lokalizację warsztatu i już teraz umów się na wizytę.
                      </p>
                      <p class="card-text"><a href="/informacje.html">Lokalizacja</a></p>
                      <p class="card-text"><small class="text-muted">Dodano 07.06.2022 13:20</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
        
    </div>

    <div class="col-md-2 col-xl-1  bg-opacity-10">
      
    </div>
  </div>
</main>

  <footer>
    <div class="container-fluid ">
      <footer class="row row-cols-5 py-5 my-5 border-top">



        <div class="col ms-auto">
          <p class="text-muted">Strona została wykonana przez J.K. i K.C. ©Copyright 2022</p>
        </div>
    
        <div class="col mx-auto">
          <h5>Informacje</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Regulamin</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Najcześciej zadawane pytania</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">O nas</a></li>
          </ul>
        </div>
    
    
        <div class="col me-auto">
          <h5>Dane o firmie</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">Jan Kowlaski</li>
            <li class="nav-item mb-2">31-100 Mosztyn Mały</li>
            <li class="nav-item mb-2">Błekitna 1</li>
          </ul>
        </div>


      </footer>
    </div>
    <div class="text-center bg-light"></div>
  </footer>


      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    
      <script src="{% static 'js/bootstrap.js' %}"></script>

</html>